@font-face {
  font-family: "iconfont"; /* Project id 3476370 */
  src: url('iconfont.woff2?t=1660729471206') format('woff2'),
       url('iconfont.woff?t=1660729471206') format('woff'),
       url('iconfont.ttf?t=1660729471206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ppsb:before {
  content: "\eaf2";
}

.icon-bfb:before {
  content: "\e682";
}

.icon-ppcg:before {
  content: "\e61c";
}

.icon-logout:before {
  content: "\e61e";
}

.icon-login:before {
  content: "\e61f";
}

.icon-exchange:before {
  content: "\e620";
}

.icon-hongqi:before {
  content: "\e641";
}

.icon-xiazai:before {
  content: "\e616";
}

.icon-yxcg:before {
  content: "\e619";
}

.icon-spxz:before {
  content: "\e61a";
}

.icon-pinglun:before {
  content: "\e623";
}

.icon-youjt:before {
  content: "\e6a5";
}

.icon-shouye:before {
  content: "\e8a6";
}

.icon-dianpu:before {
  content: "\e621";
}

.icon-pingjia:before {
  content: "\e624";
}

.icon-dingdan:before {
  content: "\e605";
}

.icon-tupian:before {
  content: "\e626";
}

.icon-liulan:before {
  content: "\e607";
}

.icon-zhenduan:before {
  content: "\e609";
}

.icon-wuliu:before {
  content: "\e60a";
}

.icon-zhibiao:before {
  content: "\e60c";
}

.icon-biaoti:before {
  content: "\e60d";
}

.icon-guanbi:before {
  content: "\e60f";
}

