// 定义覆写全局element组件初始css的值
:root {
  --el-color-primary: #ff9712;
  --el-color-primary-dark-2: #ff9712;
  --el-color-primary-light-3: #ff9712;
  // : #ff9712;
  // : #ff9712;
  // : #ff9712;
}
  
  
// $colors: (
//   'primary': (
//     'base': #ff9712,
//   ),
// ),