// 定义覆写全局element组件初始css的值
:root {
    --el-color-primary: #ff9712;
    --el-color-primary-dark-2: #ff9712;
    --el-color-primary-light-3: #ff9712;
    // : #ff9712;
    // : #ff9712;
    // : #ff9712;
  }
  
  
  
  
  // --el-button-text-color: var(--el-color-white);
  //     --el-button-bg-color: var(--el-color-primary);
  //     --el-button-border-color: var(--el-color-primary);
  //     --el-button-outline-color: var(--el-color-primary-light-5);
  //     --el-button-active-color: var(--el-color-primary-dark-2);
  //     --el-button-hover-text-color: var(--el-color-white);
  //     --el-button-hover-link-text-color: var(--el-color-primary-light-5);
  //     --el-button-hover-bg-color: var(--el-color-primary-light-3);
  //     --el-button-hover-border-color: var(--el-color-primary-light-3);
  //     --el-button-active-bg-color: var(--el-color-primary-dark-2);
  //     --el-button-active-border-color: var(--el-color-primary-dark-2);
  //     --el-button-disabled-text-color: var(--el-color-white);
  //     --el-button-disabled-bg-color: var(--el-color-primary-light-5);
  //     --el-button-disabled-border-color: var(--el-color-primary-light-5);