// 此处定义公共的vxe-modal样式
// @import 'variable.scss';
// @use 'variable';


// %vxeTitle {
//   // height: 40px;
//   // margin: 0 auto;
//   // background: #ff9712;
//   border-radius: 6px 6px 0px 0px;
//   color: #fff;
//   text-align: center;
//   line-height: 40px;
//   font-size: 18px;
// }


%flexCen {
  display: flex;
  align-items: center;
}

%flexColCen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flexColLeft {
  display: flex;
  flex-direction: column;
  align-items: left;
}