// 此处定义公共的vxe-modal样式
// @import 'variable.scss';
// @use 'variable';


%flexCen {
  display: flex;
  align-items: center;
}

%flexColCen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flexColLeft {
  display: flex;
  flex-direction: column;
  align-items: left;
}









//global属性是vue全局的,无视scoped,放在此处是为了全局生效,初始化默认设定

// 头部拖拽区范围
:global(.vxe-modal--header){
  background-color: #ff9712 !important;
  padding: 0 !important;
}


// 去除头部拖拽区标题slot内边距
:global(.vxe-modal--header-title){
  padding: 0 !important;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 500;
  margin-left: 20px;
}


//关闭按钮样式
:global(.vxe-modal--header-right){
  line-height: 40px;
  padding: 0 !important;
  i{
    color: #fff;
    margin-right: 20px;
  }
}



:global(.vxe-modal--close-btn:hover){
    color: #fff !important;
}

//去除头部边框,因为与主题色不协调
:global(.vxe-modal--wrapper .vxe-modal--box){
  border: none;
}