// vxe-modal诊断面板部分
@import 'vxeCommon';


.mymodal{

  .mytitle {
    height: 40px;
    margin: 0 auto;
    text-align: center;

    a {
      @include vxeHeaderA;
    }
  }
.headerSec {
  background: $jclbg;
  border-radius: 6px 6px 0px 0px;

  .mybtn {
    position: absolute;
    top: 5px;
    left: 20px;
    background: rgb(255, 255, 255);
    border: 1px solid #EEEEEE;
    border-radius: 4px;

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .el-button--warning {
    color: #555555;
  
  }
}

}