

// ::v-deep .vxe-modal--header {
//   background: #FF9712;
//   padding: 0 !important;
// }
// ::v-deep .vxe-modal--box {
//   border: none !important;
// }


// ::v-deep .vxe-modal--close-btn{
// top: 12px ;
// color: white;
// &:hover{
//   color: white;
// }
// }

// .mytitle {
// color: white;
//   line-height: 40px;
//   text-align: center;
// }
.containerBox{
  width: 570px;
height: 450px;

  

  .emptyImg {
    margin: 130px 182px 50px 182px;
    width: 208px;
    height: 119px;
  }

  .navbar{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    line-height: 28px;
    color: #000000;
    height: 40px;
    background: rgba(248,248,249,0.39);
    border-radius: 4px 4px 0px 0px;
  }
  .historyList{
    .listBox{
      display: flex;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid rgba(238, 238, 238, 0.3900);
      cursor: pointer;
      &:hover{
        background: #ffa9391f;
        color: #FF9712;
        font-weight: bold;
        .guanbibtn{
          width: 18px;
          height: 18px;
          font-weight: bolder;
          line-height: 28px;
          margin-left: 8px;
        }
      }
      .operate{
        height: 20px;
        overflow: hidden;
      }
    }
  }
}

.paginationBox{
  padding-top: 8px;
}