@import 'vxeCommon';


.mytitle {
    color: #ffffff;
    text-align: center;
    height: 40px;
    width: 500px;
    line-height: 40px;
    // width: 113%;
  }
  
  .emptyImg{
    margin: 30px 139px 50px 139px;
    width: 208px;
    height: 119px;
  }
  
  .scanList{
    // margin: 20px;
    display: flex;
    width: 460px;
  height: 39px;
  background: rgba(255,255,255,0.3900);
    text-align: left;
    border-bottom: 1px solid rgba(238,238,238,0.3900);
    .scanTime{
      width: 160px;
  font-size: 14px;
  line-height: 40px;
  color: #999999;
  padding-left: 10px;
  
    }
    .scanShop{
      width: 285px;
  font-size: 14px;
  font-family: $fontYaHei;
  line-height: 40px;
  color: #555555;
  display: flex;
  justify-content:space-between;
    cursor: pointer;
    .shopTitle{
      width: 200px;
    }
  .guanbibtn{
    text-align: center;
    font-size: 10px ;
      width:40px;
    display: none;
  }
    }
    &:hover .scanTime,&:hover .scanShop{
  background:#ffa9391f;
  color: $jclbg;
  font-weight: bold;
    }
    &:hover .guanbibtn{
  display: block;
    font-size: 15px ;
    font-weight: bolder;
    }
  }
  