@import 'vxeCommon';

.taskProgressPanel{

  .probar :deep(.el-progress__text){
    font-size: 12px;
    color: #FF9712;
  }
// .tasktitle {
//   //无需样式,因为全局已设定默认值
//   }
  .searchBox{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      z-index: 2;
      position: sticky;
      top: 10px;
      padding: 0 6px;
      .searchSvg{
        width: 20px;
        height: 20px;
      }
      .searchBtn{
        width: 32px;
        height: 21px;
        font-size: 16px;
      }
      .clearBtn{
        width:86px;
        height: 40px; 
        font-size: 16px;
      }
  }
  .mainSec{
    // width: 600px;
    padding: 0 6px;
    .tasklistBox{
      // position: relative;
      display: flex;
      flex-direction: column;
      height:444px;
      .taskList{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #e7e7e7;
        .detailBox{
            display: flex;
            align-items: center;
          .taskSymbol{
            margin-right: 10px;
            svg{
            font-size: 30px;
            }
          }
          .detailInfo{
            .taskname{
              font-size: 14px;
              font-family: MicrosoftYaHei;
              // line-height: 28px;
              color: #000000;
              max-width: 400px;
            }
            .taskStatus{
              display: flex;
              align-items: center;
              .finished, .size{
                font-size: 12px;
                font-family: MicrosoftYaHei;
                color: #BBBBBB;
              }
              .finished{
                margin-right: 10px;
              }
              .probar{
                width: 220px;
                // :deep(.el-progress__text){
                //   font-size: 12px !important;
                //   color: #FF9712;
                // }
              }
            }
          }
        }
        &:hover{
          .deleteSvg{
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: #FF9712;
            }
        }
      }
    }






    .emptyImg {
        margin: 160px  182px 160px 182px;
        width: 208px;
        height: 119px;
      }
  }

}