@import 'vxeCommon';

.wordstool {
  z-index: 99999 !important;



  

  .closeBtn {
    display: none;
  }

  .toolcontainer {
    margin: 0 auto;
    width: 800px;
    @extend %flexColCen;

    // height: 230px;
    // background-color: rgb(56, 243, 39);
    .collapseHeader {
      display: flex;

      .headerTitle {
        width: 96px;
        // height: 31px;
        font-size: 24px;
        font-family: Microsoft YaHei;
        font-weight: bold;
        line-height: 31px;
        color: #000000;
      }

      .setting {
        margin: 0 6px 2px 620px;
        width: 64px;
        font-size: 16px;
        font-family: Microsoft YaHei;
        line-height: 31px;
        color: #555555;
      }
    }

    .calculateBox {
      width: 800px;
      height: 74px;
      background: rgba(240, 242, 246, 0.39);
      border-radius: 4px;
      display: flex;

      .content {
        @extend %flexColLeft;
        padding: 10px 20px;

        .caption {
          // width: 121px;
          height: 20px;
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          line-height: 19px;
          color: #555555;
          margin-bottom: 9px;
        }

        .inputBox {
          width: 210px;
        }

        .rawRes {
          align-self: flex-end;
          // width: 18px;
          // height: 19px;
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          line-height: 19px;
          color: #bbbbbb;
        }

        .trueRes {
          align-self: flex-end;
          // width: 22px;
          // height: 22px;
          font-size: 20px;
          font-family: Arial;
          font-weight: bold;
          line-height: 23px;
          color: #ff9712;
        }
      }

      .divider {
        margin: 10px 2px;
        width: 1px;
        height: 54px;
        background: rgba(221, 221, 221, 0.39);
      }
    }

    .wordsBox {
      width: 800px;

      // height: 50px;
      :deep( .el-textarea__inner ){
        height: 50px;
        border: 2px solid #ff800b;
      }
    }

    .wordsTip {
      height: 21px;
      align-self: flex-start;
      margin: 10px;
      color: #ff4040;
    }

    .wordsBtn {
      @extend %myBtn;
      width: 300px;
      height: 50px;
      border-radius: 6px;
      font-size: 16px;
      line-height: 50px;
      // margin-bottom: 30px;
    }
  }

  .closeSec {
    display: none;
  }
}

.modifytool {
  :deep( .vxe-modal--body) {
    padding: 30px;
  }

  :deep( .vxe-modal--content ){
    padding: 0;
  }

  .closeSec {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 94px;
    height: 50px;
    top: 28px;
    right: 30px;

    .close {
      cursor: pointer;
      width: 30px;
      height: 30px;
      margin: 10px 0 10px 55px;
      line-height: 1;
    }
  }
}

.wordsResult {



  .resultcontainer {
      .topTitlie {
        width: 112px;
        height: 21px;
        font-size: 16px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        line-height: 21px;
        color: #000000;
        margin-bottom: 20px;
      }
      .topClose{
        position: absolute;
        cursor: pointer;
        top: 14px;
        right: 26px;
      }

    .resultBox {
      display: flex;

      .resultOne {
        width: 270px;
        padding: 10px;
        // height: 859px;
        background: rgba(248, 248, 248, 0.39);

        .topFunSection {
          margin-bottom: 10px;

          .myfunction {
            margin: 5px 0 20px 0;
            padding: 0 10px 0 10px;
            color: #ff9712;

            // font-size: 14px;
            span {
              cursor: pointer;
            }

            span:first-child {
              margin-right: 120px;
            }
          }

          .mykey {
            padding: 16px 10px 15px 10px;
            height: 20px;
            background: rgb(255, 255, 255);
            border-radius: 4px;
            display: flex;
            justify-content: space-between;

            .currentKey {
              font-weight: 800;
              color: #ff4040;
            }

            .keyNote {
              color: #999999;
            }
          }
        }

        .keyWordSection {
          @include flexColCen;
          overflow-y: auto;
          // overflow-y: overlay;
          height: 630px;

          .eachWord {
            width: 92%;
            display: flex;
            justify-content: space-between;
            background: white;
            padding: 16px 10px 15px 10px;
            margin-top: 10px;
            height: 19px;

            .eachKey {
              color: #333333;
            }

            .eachNote {
              cursor: pointer;
              color: #cccccc;

              &:active {
                color: #ff9712;
                // background: rgba(255, 151, 18, 0.39);
              }
            }
          }

          .selected {
            width: 91%;
            border: 1px solid #ff9712;
            border-radius: 4px;

            .eachKey {
              font-weight: 800;
              color: #000000;
            }

            .eachNote {
              color: #ff9712;
            }
          }
        }
      }

      .resultTwo {
        width: 590px;
        padding: 0 20px;
        background: white;

        .divider {
          width: 630px;
          height: 1px;
          background: rgba(238, 238, 238, 0.39);
        }

        .arrFunSection {
          // box-sizing: border-box;
          // height: 20px;
          display: flex;
          justify-content: space-between;
          padding: 16px 0px 15px 0px;
          height: 50px;
          box-sizing: border-box;
          align-items: center;

        }

        .arrFun {
          >span {
            cursor: pointer;
            color: #ff9712;
            margin: 0 10px 0 10px;

            &:active {
              color: #f1f0ed;
              background-color: #ff9712;
            }
          }
        }

        .arrListSection {
          overflow-y: auto;
          height: 700px;

          .divider {
            width: 560px;
            height: 1px;
            background: rgba(238, 238, 238, 0.39);
          }

          .allArr {
            @include flexColCen;

            .wordsBox {
              // background-color: rgba(105, 233, 31, 0.438);
              width: 100%;
              padding: 16px 10px 15px 0;
              height: 50px;
              align-items: flex-start;
              box-sizing: border-box;
              display: flex;
              justify-content: space-between;
              color: #333333;

              >div {
                width: 70%;
              }

              >div:last-child {
                width: 8%;
              }

              .copyBtn {
                cursor: pointer;
                color: #cccccc;

                &:active {
                  color: #ff9712;
                  // background: rgba(255, 151, 18, 0.39);
                }
              }
            }
          }
        }
      }
    }
  }
}

.el-select-dropdown__item.selected {
  color: #ff9712;
}


:deep( .el-collapse-item__wrap ){
  border: none;
}

:deep( .el-collapse-item__header) {
  border: none;
}

:deep( .el-collapse-item__content ){
  padding-bottom: 20px;
}

:deep(.el-collapse) {
  border: none;
}

:deep(.el-textarea__inner ){
  resize: none; // 使输入区域textarea不可手动调整大小
}

:deep( .wordstool .vxe-modal--body) {
  padding-top: 20px;
  padding-bottom: 30px;
}



:deep(.wordsResult .vxe-modal--body) {
  padding: 30px;
}

:deep(.wordsResult .vxe-modal--content) {
  padding: 0;
}