

// :root{
//   $--el-color-primary: #ff9712;

// }


// /* 改变主题色变量 */
// $--color-primary: #ff9712;

// $--color-primary-light-3: #ffa52f;
// $--color-primary-light-5: #fcb457;
// $--color-primary-light-7: #fcc782;
// $--color-primary-light-8: #fdddb4;
// $--color-primary-light-9: #fff1e0;
// $--color-primary-dark-2: #ee8e10;

// $--border-color: #ff9712;
// $--border-color-hover: #ff9712;

// /* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';
// // margin-right: math.div($--tooltip-arrow-size, 2)

// @import "~element-ui/packages/theme-chalk/src/index";
// /* 不可清除,补单关键词模块需要用到 */
.el-message {  
    min-width: 30px !important;
    padding: 10px;
    z-index: 9999 !important;
  }
  /* 不可清除,补单关键词模块需要用到 */
  .el-select-dropdown__item.selected {
    color:#ff9712;
  }
  .el-dialog__headerbtn:hover {
    color: #ff9712;
    .el-dialog__close{
    color: #ff9712;
    &:hover{
      color: #ff9712;
    }
}
}

// .el-input__inner{
//   &:focus{
//   border-color: #ff9712;

//   }
//   &:hover{
//     border-color: #ff9712;
//   }
// }


.el-input__wrapper:hover {
  // box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset;
  box-shadow: 0 0 0 1px #ff9712;
}
.el-dropdown-menu__item:hover {
  background-color: #ffa9391f;
  color: #ff9712;
}

.el-textarea__inner{
  resize: none;
}

// div:has()
textarea,.vxe-modal--content,.el-table__body-wrapper, .keyWordSection, .arrListSection{

&::-webkit-scrollbar{
  width:2px;
  height:10px;
  /**/
}
&::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
&::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius:10px;
}
&::-webkit-scrollbar-thumb:hover{
  background: #333;
}
&::-webkit-scrollbar-corner{
  background: #179a16;
}
  
}